.logo1 
{
  position: absolute;
  left: 84%;  
  
}

.text-overlay {
    position: absolute;
    font-size: 7px;
    right: 10px;  
    top: 5%;
}

.search input{
    position: absolute;
    right: 100%;
}